<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en-UK" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Pandinfo Friday Project</title>
    <meta name="web_author" content="FaerieRose"></meta>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" type="text/css" href="css/pandinfo.css"></link>
  </head>
  <body>
    <h1>This is a test from FaerieRose</h1>
    <p>This is the first paragraph</p>
  </body>
</html>