<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en-UK" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>index - PandInfo</title>
    <meta name="web_author" content="FaerieRose" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/pandinfo.css" />
  </head>
  <body>
    <div id="divMain">
	    <header>
	      <h1>Team 2</h1>
	      <h2>Weekopdracht</h2>
	    </header>
	    <article id="divMain">
	      <table>
	        <tr>
	          <td>
	            <input id="btnRose" type="button" name="refresh" value="" onclick="window.location.href = 'rosalynn/index.html';" />
	            <label for="btnRose" id="lblRose" class="button">
	              Rosalynn
	            </label>
	          </td>
	          <td>
	            <input id="btnDave" type="button" name="refresh" value="" onclick="window.location.href = 'dave/pandinfo_dave.html';" />
	            <label for="btnDave" id="lblDave" class="button">
	              Dave
	            </label>
	          </td>
	        </tr>
	        <tr>
	          <td>
	            <input id="btnYuri" type="button" name="refresh" value="" onclick="window.location.href = 'yuri/pandinfo_yuri.html';" />
	            <label for="btnYuri" id="lblYuri" class="button">
	              Yuri
	            </label>
	          </td>
	          <td>
	            <input id="btnMarc" type="button" name="refresh" value="" onclick="window.location.href = 'marc/pandinfo_marc.html';" />
	            <label for="btnMarc" id="lblMarc" class="button">
	              Marc
	            </label>
	          </td>
	        </tr>
	      </table>
	    </article>
      </div>
      <h1>Voer pand in</h1>
		<form th:object="${pand}" th:action="pandSave" method="post">
			<input type="text" th:field="*{straat}" placeholder="straat"/>
			<input type="text" th:field="*{nummer}" placeholder="nummer"/>
			<input type="text" th:field="*{soort}" placeholder="soort"/>
			<input type="submit" value="Submit"/>
		</form>
    <div id="divFooter">
      <footer>
        <img src="images/drawing__rosalynn_logo_trans_1200px.gif" width="120px" />
      </footer>
    </div>
  </body>
</html>
