<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en-UK" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Pandinfo Friday Project</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/pandinfo.css" />
    <script src="../javascript/pandinfo.js" ></script>
  </head>
  <body>
    <h1>Overzicht deze week</h1>
    <ol type="1" start="1">
    	<li>Samenvatting Git/Github</li>
    	<li>Modificatie naar pand ipv persoon</li>
    	<li>Basisversie van Rosalynn genomen, vullen en uitlezen van de DB er aan toegevoegd.
    		 Dit was basis voor verdere ontwikkeling</li>
    	<li>Leermoment: Te veel veranderingen zonder commits --> geen werkende versie meer</li>
    	<li>Nog onvoldoende inzicht in werking van de verschillende componenten</li>
    </ol>
    <div>
    	<button type="button" onclick="location.href='overzicht_marc.html'">Hoe hangt het samen?</button>
    	
    </div>
  </body>
</html>